<script setup>
import { onBeforeUnmount } from 'vue'
import useNotification from '@/composables/notification.composable.js'

const { messages, removeMessage, clearMessages } = useNotification()

onBeforeUnmount(clearMessages)

const MESSAGE_CLASSES = {
  error: 'bg-red-500',
  success: 'bg-green-500',
}
</script>

<template>
  <TransitionGroup
    name="slide"
    tag="div"
  >
    <div
      v-for="message in messages"
      :key="message.id"
      :class="MESSAGE_CLASSES[message.type]"
      class="fixed top-3 right-3 z-50 transition-transform text-white px-4 py-2 rounded shadow-lg"
    >
      <div class="flex justify-between items-center">
        <span class="px-4">
          {{ message.text }}
        </span>
        <button
          class="text-white font-bold"
          @click="removeMessage(message.id)"
        >
          &times;
        </button>
      </div>
    </div>
  </TransitionGroup>
</template>

<style scoped>
.slide-enter-active, .slide-leave-active {
  transition: transform 0.5s;
}

.slide-enter-from, .slide-leave-to {
  transform: translateX(100%);
}

.slide-enter-to, .slide-leave-from {
  transform: translateX(0);
}
</style>
