<script setup>
const enabled = defineModel()
</script>

<template>
  <label class="inline-flex relative items-center cursor-pointer">
    <input v-model="enabled" class="sr-only" type="checkbox">
    <span
      class="toggle-bg h-6 w-11 rounded-full bg-gray-300 transition-colors duration-200 ease-in-out"
      :class="{ 'bg-green-500': enabled, 'bg-gray-300': !enabled }"
    />
    <span
      :class="{ 'translate-x-5': enabled }"
      class="dot absolute left-1 top-1 bg-white w-4 h-4 rounded-full transition-transform duration-200 ease-in-out transform"
    />
  </label>
</template>
