<script setup>
import { ref, computed, watch } from 'vue'
import HighlightPlugin from '@highlightjs/vue-plugin'
import { format } from 'sql-formatter'
import AppMessage from '@/components/AppMessage.vue'
import AppSwitch from '@/components/AppSwitch.vue'
import gitLabLogo from './assets/gitlab-logo.svg'
import useNotification from '@/composables/notification.composable.js'
import useOptions from '@/composables/options.composable.js'

const { component: Highlight } = HighlightPlugin

const { options, setOptions } = useOptions()
const { showNotification } = useNotification()

const data = ref('')
const formatOutput = ref(options.formatOutput ?? false)

watch(formatOutput, () => {
  setOptions({ formatOutput: formatOutput.value })
})

const queriesAndBindingsRegex = /"query" => "(.*?)"(?:\s+"bindings" => array:\w+ \[(.*?)])?/gs
const bindingsRegex = /=> (.*?)$/gsm

const formattedQueries = computed(() => {
  if (!data.value) {
    return []
  }

  try {
    const matches = [...data.value.matchAll(queriesAndBindingsRegex)]

    const results = matches.map(match => {
      const query = match[1]
      const bindingsMatch = match[2] ?? ''

      const bindings = bindingsMatch
        ? [...bindingsMatch.matchAll(bindingsRegex)].map(binding => binding[1])
        : []

      return { query, bindings }
    })

    return results.map(result => {
      const query = result.bindings.reduce((acc, binding) => acc.replace('?', binding), result.query)
      const finalQuery = `${query};`

      return formatOutput.value ? format(finalQuery) : finalQuery
    })
  } catch (e) {
    console.error(e)
    showNotification('Failed to parse the data', 'error')

    return []
  }
})

const copyQuery = async (query) => {
  try {
    await navigator.clipboard.writeText(query)
    showNotification('Copied to clipboard!')
  } catch (e) {
    console.error('Failed to copy text: ' + e)
    showNotification('Failed to copy text', 'error')
  }
}

const copyAllToClipboard = async () => {
  try {
    const formattedQuery = formattedQueries.value.join('\n\n')
    await copyQuery(formattedQuery)
  } catch (e) {
    console.error(e)
  }
}

const sampleData = `array:2 [
  0 => array:3 [
    "query" => "select * from \`users\` where \`id\` = ?"
    "bindings" => array:1 [
      0 => "b8d32b4e-52ca-4eba-9729-01afad21dcf7"
    ],
    "time" => 0.29
  ],
  1 => array:3
    "query" => "select * from \`posts\` where \`user_id\` = ? and \`created_at\` > ?"
    "bindings" => array:2 [
      0 => "b8d32b4e-52ca-4eba-9729-01afad21dcf7"
      1 => "2022-01-01 00:00:00"
    ]
    "time" => 0.36
  ]
]`

const placeholder = `Paste your Laravel Query Log Output: \n${sampleData}`
</script>

<template>
  <div class="relative">
    <div class="flex justify-end m-6 absolute right-0 top-0 mr-2 sm:mr-4">
      <a href="https://gitlab.com/mwergles/laravel-sql-binder" target="_blank">
        <img
          :src="gitLabLogo"
          alt="Visit the project on GitLab"
          class="sm:h-6 md:h-8"
          title="Visit the project on GitLab"
        />
      </a>
    </div>
    <main class="container mx-auto p-8">
      <div class="bg-white rounded shadow-lg p-6">
        <div class="mb-4">
          <h1 class="text-gray-900 font-bold text-xl mb-2">SQL Query Binder</h1>
          <textarea
            v-model="data"
            :placeholder="placeholder"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            rows="4"></textarea>
        </div>

        <div
          v-if="!formattedQueries.length"
          class="flex justify-end mt-8"
        >
          <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline my-4"
            @click="data = sampleData"
          >
            Try With Sample Data
          </button>
        </div>

        <div
          v-if="formattedQueries.length"
          class="mb-4"
        >
          <h2 class="block text-gray-700 text-sm font-bold">
            Formatted Queries
          </h2>

          <div class="flex items-center justify-end">
            <span class="text-gray-700 font-medium mr-4">Format Output</span>
            <AppSwitch v-model="formatOutput"/>
          </div>

          <div class="flex justify-between items-center">
            <span class="text-xs text-gray-500">Click on the query to copy it</span>
            <div>
              <button
                class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 mr-4 rounded focus:outline-none focus:shadow-outline my-4"
                @click="copyAllToClipboard"
              >
                Copy all to Clipboard
              </button>

              <button
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline my-4"
                @click="data = ''"
              >
                Clear
              </button>
            </div>
          </div>

          <Highlight
            v-for="formattedQuery in formattedQueries"
            :key="formattedQuery"
            :code="formattedQuery"
            class="shadow rounded mt-3 mb-8 whitespace-pre-wrap cursor-pointer"
            language="sql"
            title="Click to copy"
            @click="copyQuery(formattedQuery)"
          />
        </div>
      </div>
      <AppMessage/>
    </main>
  </div>
</template>

<style scoped>
:deep(.hljs) {
  border-radius: 0.25rem;
}
</style>
